<div class="app-sidebar colored">
    <div class="sidebar-header">
        <a class="header-brand" href="../index.ejs">
           
            <span class="text"><%= locals.type %> Admin </span>
        </a>
       
      </div>
    


      <% if(locals.type === "pd"){%>
        <div class="sidebar-content">
            <div class="nav-container">
                <nav id="main-menu-navigation" class="navigation-main">
                    <div class="nav-lavel">Navigation</div>
                    <div class="nav-item active">
                        <a href="/pd/dashboard"><i class="ik ik-bar-chart-2"></i><span>ড্যাশবোর্ড</span></a>
                    </div>
                   
                    <div class="nav-lavel">প্রশিক্ষণ</div>
                    <div class="nav-item">
                        <a href="/pd/chp"><i class="ik ik-package"></i><span>সিএইচপি প্রশিক্ষণ </span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/pd/farmer"><i class="ik ik-package"></i><span>প্রদর্শনী কৃষক প্রশিক্ষণ </span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/pd/nurseryman"><i class="ik ik-package"></i><span>নার্সারিম্যান প্রশিক্ষণ </span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/pd/sprayman"><i class="ik ik-package"></i><span>স্প্রেম্যান প্রশিক্ষণ </span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/pd/kormokorta"><i class="ik ik-package"></i><span>কর্মকর্তা প্রশিক্ষণ </span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/pd/saao"><i class="ik ik-package"></i><span>এসএএও প্রশিক্ষণ </span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/pd/gardener"><i class="ik ik-package"></i><span>গার্ডেনার/মালি প্রশিক্ষণ </span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/pd/female"><i class="ik ik-package"></i><span>মহিলা উদ্যোক্তা প্রশিক্ষণ</span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/pd/uddan"><i class="ik ik-package"></i><span>উদ্যান বিষয়ক চাষী প্রশিক্ষণ </span></a>
                    </div>
    
                    <div class="nav-lavel">উন্নয়নমূলক কাজের প্রতিবেদন</div>
                    <div class="nav-item">
                        <a href="/pd/landDevelopment"><i class="ik ik-package"></i><span>ভূমি উন্নয়ন তথ্য </span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/pd/buildingDevelopment"><i class="ik ik-package"></i><span>ভবন নির্মাণ তথ্য</span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/pd/wallDevelopment"><i class="ik ik-package"></i><span>সীমানা প্রাচীর নির্মাণ তথ্য</span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/pd/guardDevelopment"><i class="ik ik-package"></i><span>গার্ড শেড/নার্সারি নির্মাণ তথ্য</span></a>
                    </div>
                   <div class="nav-item">
                        <a href="/pd/seedDevelopment"><i class="ik ik-package"></i><span>সীডবেড নির্মাণ তথ্য</span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/pd/development"><i class="ik ik-package"></i><span>অন্যান্য উন্নয়নমূলক প্রতিবেদন</span></a>
                    </div>
                    
    
                    <!-- <div class="nav-lavel">হিসাব</div>
                    
                    <div class="nav-item">
                        <a href="/center/expense"><i class="ik ik-command"></i><span>খরচের বিবরণী</span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/center/rajossho"><i class="ik ik-command"></i><span>রাজস্ব</span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/center/loan"><i class="ik ik-gitlab"></i><span>লোন বিতরণ রিপোর্টিং</span> </a>
                        
                    </div> -->
    
                    <div class="nav-lavel">সেন্টার সংক্রান্ত তথ্য</div>
                    <div class="nav-item">
                        <a href="/pd/infoChp"><i class="ik ik-box"></i><span>সিএইচপি সংক্রান্ত তথ্য</span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/pd/infoWorker"><i class="ik ik-box"></i><span>শ্রমিক সংক্রান্ত তথ্য</span></a>
                    </div>

                    <div class="nav-lavel">অন্যান্য তথ্যাদি</div>
                    <div class="nav-item">
                        <a href="/pd/prodorshoni"><i class="ik ik-package"></i><span>প্রদর্শনী সংক্রান্ত তথ্যাদি</span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/pd/motivation"><i class="ik ik-box"></i><span>মোটিভেশনের মাধ্যমে বাগান স্থাপনকারী চাষীদের তালিকা</span></a>
                    </div>
    
                   
                    
                   
                    <div class="nav-lavel">এপিএ</div>
                    <div class="nav-item">
                        <a href="/pd/apa"><i class="ik ik-box"></i><span>এপিএ রিপোর্টিং</span></a>
    
                    </div>
                   
                    
    
                    
                </nav>
            </div>
        </div>
    </div>
    
<% }else { %>
    <div class="sidebar-content">
        <div class="nav-container">
            <nav id="main-menu-navigation" class="navigation-main">
                <div class="nav-lavel">Navigation</div>
                <div class="nav-item active">
                    <a href="/center/dashboard"><i class="ik ik-bar-chart-2"></i><span>ড্যাশবোর্ড</span></a>
                </div>
               
                <div class="nav-lavel">প্রশিক্ষণ</div>
                <div class="nav-item">
                    <a href="/center/chp"><i class="ik ik-package"></i><span>সিএইচপি প্রশিক্ষণ </span></a>
                </div>
                <div class="nav-item">
                    <a href="/center/farmer"><i class="ik ik-package"></i><span>প্রদর্শনী কৃষক প্রশিক্ষণ </span></a>
                </div>
                <div class="nav-item">
                    <a href="/center/nurseryman"><i class="ik ik-package"></i><span>নার্সারিম্যান প্রশিক্ষণ </span></a>
                </div>
                <div class="nav-item">
                    <a href="/center/sprayman"><i class="ik ik-package"></i><span>স্প্রেম্যান প্রশিক্ষণ </span></a>
                </div>
                <div class="nav-item">
                    <a href="/center/kormokorta"><i class="ik ik-package"></i><span>কর্মকর্তা প্রশিক্ষণ </span></a>
                </div>
                <div class="nav-item">
                    <a href="/center/saao"><i class="ik ik-package"></i><span>এসএএও প্রশিক্ষণ </span></a>
                </div>
                <div class="nav-item">
                    <a href="/center/gardener"><i class="ik ik-package"></i><span>গার্ডেনার/মালি প্রশিক্ষণ </span></a>
                </div>
                <div class="nav-item">
                    <a href="/center/female"><i class="ik ik-package"></i><span>মহিলা উদ্যোক্তা প্রশিক্ষণ</span></a>
                </div>
                <div class="nav-item">
                    <a href="/center/uddan"><i class="ik ik-package"></i><span>উদ্যান বিষয়ক চাষী প্রশিক্ষণ </span></a>
                </div>
             

                <div class="nav-lavel">উন্নয়নমূলক কাজের প্রতিবেদন</div>
                <div class="nav-item">
                    <a href="/center/landDevelopment"><i class="ik ik-package"></i><span>ভূমি উন্নয়ন তথ্য </span></a>
                </div>
                <div class="nav-item">
                    <a href="/center/buildingDevelopment"><i class="ik ik-package"></i><span>ভবন নির্মাণ তথ্য</span></a>
                </div>
                <div class="nav-item">
                    <a href="/center/wallDevelopment"><i class="ik ik-package"></i><span>সীমানা প্রাচীর নির্মাণ তথ্য</span></a>
                </div>
                <div class="nav-item">
                    <a href="/center/guardDevelopment"><i class="ik ik-package"></i><span>গার্ড শেড/নার্সারি নির্মাণ তথ্য</span></a>
                </div>
               <div class="nav-item">
                    <a href="/center/seedDevelopment"><i class="ik ik-package"></i><span>সীডবেড নির্মাণ তথ্য</span></a>
                </div>
                <div class="nav-item">
                    <a href="/center/development"><i class="ik ik-package"></i><span>অন্যান্য উন্নয়নমূলক প্রতিবেদন</span></a>
                </div>

                <!-- <div class="nav-lavel">হিসাব</div>
                
                <div class="nav-item">
                    <a href="/center/expense"><i class="ik ik-command"></i><span>খরচের বিবরণী</span></a>
                </div>
                <div class="nav-item">
                    <a href="/center/rajossho"><i class="ik ik-command"></i><span>রাজস্ব</span></a>
                </div>
                <div class="nav-item">
                    <a href="/center/loan"><i class="ik ik-gitlab"></i><span>লোন বিতরণ রিপোর্টিং</span> </a>
                    
                </div> -->

                <div class="nav-lavel">সেন্টার সংক্রান্ত তথ্য</div>
                <div class="nav-item">
                    <a href="/center/infoChp"><i class="ik ik-box"></i><span>সিএইচপি সংক্রান্ত তথ্য</span></a>
                </div>
                <div class="nav-item">
                    <a href="/center/infoWorker"><i class="ik ik-box"></i><span>শ্রমিক সংক্রান্ত তথ্য</span></a>
                </div>

                <div class="nav-lavel">অন্যান্য তথ্যাদি</div>
                <div class="nav-item">
                    <a href="/center/prodorshoni"><i class="ik ik-package"></i><span>প্রদর্শনী সংক্রান্ত তথ্যাদি</span></a>
                </div>
                <div class="nav-item">
                    <a href="/center/motivation"><i class="ik ik-box"></i><span>মোটিভেশনের মাধ্যমে বাগান স্থাপনকারী চাষীদের তালিকা</span></a>
                </div>
                
               
                <div class="nav-lavel">এপিএ</div>
                <div class="nav-item">
                    <a href="/center/apa"><i class="ik ik-box"></i><span>এপিএ রিপোর্টিং</span></a>

                </div>
               
                

                
            </nav>
        </div>
    </div>
</div>
<% }   %>